#catalog-content
{
    margin-top: 30px;
    display: flex;
    gap: 30px;
}

#catalog-filters
{
    width: 25%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #FEFEFE;
}

#catalog-filters h3
{
    color: #F05454;
}

#max-reduction
{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

#mobile-filter-button
{
    display: none;
}

#catalog-title
{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
}

.reduction-option
{
    display: flex;
    align-items: center;
    border-radius: 4px;
    background-color: #F1F1F1;
    padding: 10px 30px;
    width: fit-content;
    height: fit-content;
    gap: 5px;
}

#car-pickup
{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#new-or-used
{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#new
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 24px;
    background: #F05454;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    color: white;
    width: 50%;
}

#used
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #8A8E85;
    padding: 12px 24px;

    gap: 12px;

    background: #FCFCFC;
    border-radius: 4px;
    width: 50%;
}

#catalog-items
{
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    gap: 10px;
}

.catalog-item
{

    display: flex;
    flex-direction: column;
    gap: 15px;
    height: fit-content;
    padding: 10px;
    width: calc(20% - 10px);

    background: #FFFFFF;
    box-shadow: 0px 0px 45px rgba(41, 41, 41, 0.15);
    border-radius: 4px;
}
.catalog-item img
{
    box-shadow: 0px 0px 45px rgba(41, 41, 41, 0.15);

}

.catalog-item-bottom
{
    display: flex;
    justify-content: space-between;
}

#special-items
{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.special-item
{
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: fit-content;
    padding: 10px;
    width: calc(20% - 10px);

    background: #FFFFFF;
    box-shadow: 0px 0px 45px rgba(41, 41, 41, 0.15);
    border-radius: 4px;
}

.special-item img
{
    box-shadow: 0px 0px 45px rgba(41, 41, 41, 0.15);

}

.special-item-bottom
{
    display: flex;
    justify-content: space-between;
}



@media (max-width: 1399px) { 
    .catalog-item
    {
        width: calc(25% - 10px);
    }
    html
    {
        font-size: 13px;
    }
}

@media (max-width: 992px) { 
    html
    {
        font-size: 13px;
    }

    .catalog-item
    {
        width: calc(33% - 7px);
    }
}



@media (max-width: 767px) { 
    #hot-container-title
    {
        color: #F05454;
    }

    .special-item
    {
        width: calc(33% - 7px);
    }

    #hot-container
    {
        background-image: none;
    }

    #mobile-filter-button
    {
        display: block;
    }
    #catalog-filters
    {
        display: none;
    }

    #catalog-items
    {
        width: 100%;
    }
    #mobile-filter-button
    {
        color: #F05454;
        text-decoration: underline;
    }

}

@media (max-width: 500px) { 
    .catalog-item
    {
        width: calc(50% - 5px);
    }

    
    .special-item
    {
        width: calc(50% - 5px);
    }

}